body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

#content {
  margin: 0px 20px;
  /* padding: 0px 10px; */
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.serif {
  font-family: "Lora", serif;
}

.sans-serif {
  font-family: "Montserrat", sans-serif;
}

/* choose a light or dark theme to add to the body tag. */
.dark-theme {
  background-color: #151515;
  color: #fbfbfb;
}
.light-theme {
  background-color: white;
  color: black;
}

.background-image {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: block;
  position: relative;
}

/* .background-image::after {
  content: "";
  background: url("/images/header.jpg");
  background-size: contain;
  background-position: center;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

/* .background-image > * {
  margin-left: auto;
  margin-right: auto;
} */

.header {
  height: 100px;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  top: 50%;
  margin-top: -100px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  position: absolute;
}

.header > *{
  z-index: 1;
}

.headline {
  width: 100%;
  color: #fdfdfd;
  margin: 0;
  text-shadow: -2.5px -2.5px #bfe9a7, 2.5px 2.5px #333333;
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  z-index: 1;
}

.header > p {
  font-weight: 900;
  z-index: 1;
  text-align: center;
  /* text-shadow: 2px 2px white; */
}

.story-body,
.chart-section,
.footer {
  margin: auto;
  max-width: 700px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.story-body-full {
  margin: auto;
  max-width: 950px;
  padding-top: 0px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.chart-section.wide {
  width: 100%;
  max-width: 1200px;
}

.chart-section.wide p.chart-title {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.chart-section.wide p.chart-subhead {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* text styles */
p.kicker {
  font-size: 1rem;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

#myRange {
  visibility: hidden;
}

.poverty-level-percent {
  font-weight: 600;
  font-size: 42px;
}

h2.subhead {
  font-size: 1.35rem;
  line-height: 1.6rem;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.subhead-blur {
  position: absolute;
  font-size: 1.35rem;
  filter: blur(5px);
  top: 0px;
  left: 0px;
  color: #ebebeb;
}

p.body-text {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 15px;
}

h3.section-head {
  font-size: 2rem;
  margin: 40px 0 10px 0;
  font-weight: 700;
  line-height: 1.3;
}

.byline {
  font-size: 0.85rem;
  line-height: 1;
  margin: 0.4rem auto 0.5rem auto;
  font-weight: 400;
  text-transform: uppercase;
}

.date {
  font-size: 0.85rem;
  line-height: 1;
  margin-top: 5px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p.note {
  font-size: 0.75rem;
}

/* chart styles */

.chart-section {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0px;
}

.story-body .chart-section {
  padding-top: 0px;
}

.stop-left {
  stop-color: #67000d;
}

.stop-mid {
  stop-color: whitesmoke;
}

.stop-right {
  stop-color: #0c5198;
}

.filled {
  fill: url(#mainGradient);
}

.outlined {
  fill: none;
  stroke: url(#mainGradient);
  stroke-width: 4;
}

.key {
  max-width: 150px;
  margin-left: 20px;
  display: inline-block;
  margin-top: 0;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  /* margin-right: 5px; */
}

#changes-legend {
  padding-left: 0;
}

.tick line {
  opacity: .1
}

.changes-group:hover {
  opacity: 1;
  /* stroke-width: 5px; */
}

.changes-group:hover text {
  opacity: 1;
}

.domain {
  opacity: 0;
}

.changes-legend-borough {
  display: inline;
  margin-right: 15px;
  padding: 3px;
}

a {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, transparent),
    color-stop(0, #bfe9a7)
  );
  background-image: -webkit-linear-gradient(top, transparent 0, #bfe9a7 0);
  background-image: -o-linear-gradient(top, transparent 0, #bfe9a7 0);
  background-image: linear-gradient(180deg, transparent 0, #bfe9a7 0);
  background-position: 0 0.9em;
  background-repeat: no-repeat;
  -webkit-transition: background-position 80ms ease-out;
  -o-transition: background-position 80ms ease-out;
  transition: background-position 80ms ease-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
  color: #000;
  pointer-events: all;
}

a:hover {
  background-position: 0 0;
}

h2.chart-headline {
  margin-top: 3rem;
  margin-bottom: 3px;
  text-align: center;
  text-transform: uppercase;
}

h3.chart-headline {
  font-size: 22px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.chart-description {
  margin-top: 3px;
  margin-bottom: 0;
}

#dropdown-chart {
  margin: auto;
  max-width: 900px;
}

.y-axis path,
.y-axis line {
  fill: none;
  stroke: whitesmoke;
}

.dropdown {
  text-align-last: left;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
  /*background-color: #f2f2f2;*/
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: medium;
  border-bottom-width: 2px;
  border-bottom-color: #555;
  max-width: 300px;
  font-weight: 600;
}

#map {
  width: 100%;
  height: 350px;
}

.chart-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

p.chart-title {
  font-size: 1.3rem;
  font-weight: 700;
  max-width: 700px;
  margin: 0px auto 5px auto;
}
p.chart-subhead {
  margin: 0 auto;
  max-width: 700px;
  font-size: 1rem;
  margin-bottom: 15px;
}

p.chart-label {
  margin: 0 0 5px 0;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
}

.chart-row .chart {
  width: 100%;
  padding-right: 15px;
  min-width: calc(25% - 15px);
}

p.chart-source {
  font-size: 0.85rem;
  margin: 0;
}

.districts {
  transition: 0s all;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

.tooltip > p {
  margin: 3px auto;
  font-weight: 600;
}

.tooltip {
  line-height: 1;
  padding: 12px;
  background: rgba(245, 245, 245, 0.95);
  color: #333;
  border-radius: 7px;
  border: 1px solid #333;
  pointer-events: none;
  text-align: justify;
}
/* Creates a small triangle extender for the tooltip */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 28px;
  width: 100%;
  line-height: 0.4;
  color: rgba(245, 245, 245, 0.95);
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
}

.center {
  text-align: left;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 10px;
  background: #333;
  cursor: pointer;
}

/* photos */

.photo-section {
  padding: 30px 0px;
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 1200px;
}

.photo {
  width: 100%;
  padding-right: 15px;
}
.photo img {
  width: 100%;
}

p.caption {
  font-size: 0.9rem;
  margin: 0;
}

.swiper-container {
  width: 100vw;
  height: 100vh;
}

.ticker-holder {
  width: 100%;
  text-align: center;
}

.ticker {
  font-size: 50px;
}

.ticker-note {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

.arrow
{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  scroll-behavior: smooth;

  /**
   * Dark Arrow Down
   */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg==);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* mobile */

@media (max-width: 650px) {
  .header {
    margin-top: -250px;
    max-width: 350px;
    margin-left: -175px;
  }
  .headline {
    font-size: 3rem;
  }

  h2.subhead {
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
  }

}

@media (max-width: 700px) {
  .chart-row {
    display: block;
  }

  .chart-row .chart {
    padding: 0;
  }

  .photo-section {
    display: block;
  }

  .photo {
    padding: 0;
  }
}
