<div class='story-body'>
  <p>Districts with high diversion rates have reached a slump, while those along the bottom, particularly high-poverty districts, have picked up the slack. The slack contradicts New York’s dream of contributing zero waste to landfills by 2030, which was forged in 2015 with Mayor Bill de Blasio’s wide-reaching OneNYC <a href='https://www1.nyc.gov/office-of-the-mayor/news/257-15/mayor-de-blasio-releases-one-new-york-plan-strong-just-city#/0' target='_blank'>plan</a>.</p>
  
  <p>The city’s Zero Waste NYC program, an arm of the Department of Sanitation, has since been tasked with educating residents, which has so far included partnering with community institutions for events. DSNY also recently launched a lofty advertising campaign in the subway, complete with puns and innocuous graphics.</p>
      
  <p>Sociologists, environmental advocates and city officials are stumped as to why districts have reported decreases or slowdowns. But Adriana Espinoza, New York City Program director for the New York League of Conservation Voters, said it comes down to the city giving priority to other programs, like the heavily marketed <a href='https://www1.nyc.gov/content/visionzero/pages/' target='_blank'>Vision Zero</a> initiative to curb traffic accidents and fatalities.<p>

  <p>“Targeted community outreach and engagement is important, but we think there should be a city-wide public service initiative,” Espinoza said. “Basically the same as the way you see Vision Zero signs in the subways and at bus stops and on radio commercials.”</p>
</div>
