<div class="story-body scrollytelling most-trash">
    <div class='chart' id="chart-trash" style='top: 35%;
  height: 30vh;'></div>
    <div class='steps'>
        <p class='story-body step' id='step-1'><span id='label-brooklyn'>Brooklyn</span> spat out the most waste in 2018 by far. In the distance, <span id='label-Bronx'>The Bronx</span> is a drop in the bucket </p>
        <p class='story-body step' id='step-2'>But when it comes to the mean output of a borough's community districts, <span id='label-statenisland'>Staten Island</span> topples the rest.
        </p>
        <p class='story-body step' id='step-3'>Average  collected waste per acre</p>
        <p class='story-body step' id='step-4'>Pct recyc in 2009</p>
        <p class='story-body step' id='step-5'>Pct recyc in 2018</p>
    </div>
</div>

<script src="scripts/dot-plot.js"></script>
<script src='scripts/scrollytelling.js'></script>
