<div class="scrollytelling">
    {{!-- <input class="slider" id="myRange"> --}}
    {{!-- <div id='slider-range'></div> --}}
    <div id="chart-change" class='chart'></div>

    <div class='steps'>
        <div class='step' id='step1'>
            <p>These community outreach programs have been successful and account for much of the city’s change, but the initiatives aren’t pointed at the whole city.</p>
        </div>
        <div class='step' id='step2'>
            <p>DSNY targets neighborhoods with historically low diversion rates, particularly those with cultural or language barriers, according to Espinoza.</p>

            <p class='note'>**High poverty rate defined as greater than 15%</p>
        </div>
        <div class='step' id='step2'>
            <p>Twenty-nine of New York’s community districts have a high poverty rate, and several have a high poverty rate, according to Census data.</p>

            <p>They're spread throughout all five boroughs but more heavily in Brooklyn, Queens and the Bronx - the borough that saw the greatest increases.</p>
        </div>
        <div class='step' id='step2'>
            <p>Each of these 29 districts increased its diversion rate, and most are altogether throwing away less.</p>
        </div>
        <div class='step' id='step3'>
            <p>But when it came to districts that are recycling less, the five districts were spread across lower Manhattan, Staten Island and Brooklyn.</p>
        </div>
        <div class='step' id='step-'>
            <p>Four of the five districts are significantly more affluent than the rest of the city, according to Census income data.</p>
            <p class='note'>**High income defined as a district having a median household income $20,000 greater than the city's median of $58,000, per the Census.</p>
        </div>
        <div class='step' id='step4'>
            <p>Manhattan’s community districts 1 and 6 - containing Wall Street, Ellis Island, Tribeca, Tudor City, Gramercy Park and more - recorded the greatest drop with a little more than a one percentage point, equal to thousands of tons of waste.</p>
        </div>
        <div class='step' id='step5'>
            <p>They’re also extremely wealthy, with median incomes more than twice that of the city.</p>
        </div>
    </div>
  </div>

<script src="scripts/map.js"></script>
<script src='scripts/scrollytelling.js'></script>
