<div class='story-body-full' id='waste'>
  <h3 class='chart-headline'>Recycling and waste production in <code class='year'>2009</code></h3>
    <p class='key'>
      <span class='dot' style='background-color:#5ab4ac;'>
      </span>Recycling
    </p>
    <p class='key'>
      <span class='dot' style='background-color:#d8b365;'>
      </span>Waste
    </p>

  <!-- <div class='steps'>
    <div id='waste-step' class='step'></div>
  </div> -->

  <div id='year-recycled-waste' class='chart short'></div>

{{!-- <script src="scripts/racing-bar-chart.js"></script> --}}
<script src='scripts/year-recycled-waste.js'></script>
