<div class='swiper-container'>
    <div class='swiper-wrapper'>
        <div id='chart' class='swiper-slide'>
            <div class="swiper-text"></div>
        </div>

        <div class='swiper-slide'>slide 2</div>
        <div class='swiper-slide'>slide 3</div>
        
    </div>

    <div class="swiper-pagination"></div>
</div>

<script src='scripts/mapSwiper.js'></script>