<div class='story-body' id='story'>
  <p>New York is trying to kick its title as the trash capital of the world by going zero waste. Some parts of the city aren’t playing along. </p>

  <p>Over the past few years and mayors, the city has attempted to kick the title through the implementation of waste management initiatives for residents and businesses, with <a href='https://www1.nyc.gov/office-of-the-mayor/news/257-15/mayor-de-blasio-releases-one-new-york-plan-strong-just-city#/0' target='_blank'>Mayor Bill de Blasio’s 2015 OneNYC plan</a> as the most ambitious. In terms of waste, the city’s plans could make a difference that no other place in the world has succeeded at - going zero waste, meaning next to no waste is contributed to landfills. </p>

  <p>But since that ambition was enacted as policy, not much progress has been made, according to an analysis of the <a href='https://data.cityofnewyork.us/City-Government/DSNY-Monthly-Tonnage-Data/ebb7-mvp5' target='_blank'>Department of Sanitation’s monthly tonnage reports</a> that detail waste flow in New York’s 59 community districts. Landfill contribution has lingered at more than 2.5 million tons, the weight of more than 11,000 State of Liberty monuments. </p>

  <p>The stagnation is reminiscent of Canberra, Australia’s <a href='https://www.abc.net.au/news/2010-02-26/no-waste/345222?con&dom=newscred&src=syndication' target='_blank'>failed zero waste attempt</a> in 1996. The local government had given itself a 15-year deadline, the same period as New York’s, to reach zero waste. Before the deadline even hit, it was obvious the initiative was a bust. The city couldn’t control its consumption and found itself trapped by consumerism. </p>

  <p>A similar fate may befall the Big Apple, where the landfill contribution has only inched down 3% since 2009. The thorn in the side of New York’s zero waste dreams is that even though residents are recycling more, they aren’t throwing away less.</p>

  <p>New York, though the <a href='https://www.pnas.org/content/pnas/112/19/5985.full.pdf' target='_blank'>greatest trash producer in the world</a>, doesn’t have its own landfill or incinerator to handle the waste. Each year the city ships off its garbage across the country, mostly to landfills in New Jersey, Kentucky and Connecticut. In the fiscal year 2019, the practice <a href='https://comptroller.nyc.gov/wp-content/uploads/documents/CAFR2019.pdf' target='-blank'>cost the city more than $407 million</a>, an increase of $37 million from the year prior.</p>

  <p>The tenacious waste issue has hindered the diversion rate, the rate at which waste is diverted from a landfill through programs such as recycling. The city-wide recycling rate grew from 20% in 2009 to 25% in 2019, according to estimates calculated from the monthly tonnage reports. The city estimates for the fiscal year 2019 - a different time period of calculations - <a href='https://www1.nyc.gov/assets/operations/downloads/pdf/mmr2019/dsny.pdf' target='_blank'>residents alone only recycled 18.1% of their waste</a>, a gain of only .1% from the fiscal year 2018.</p>

  <p>At this rate, the city won’t hit its zero waste goal until the year 2169.</p>

  <p>These neighborhoods - which make up about a twelfth of New York City - contradict the city’s plan to reduce its ginormous carbon footprint to nil by 2030. Annually, New Yorkers produce more than 3.5 million tons of waste and recycling, according to a 2015 study of waste flow in the world’s largest cities.</p>

  <p>More than 75% of that goes to landfills, incinerators or the ocean, making New York the greatest producer of trash in the world. But New York doesn’t have a landfill or incinerator on-hand to even handle the waste itself. Rather, the city sends it away to landfills in other states, mostly New Jersey, Kentucky and Connecticut.</p>

  <i style='color:gray;'>The Department of Sanitation did not respond to requests for comment regarding recycling trends and education campaigns.</i>

{{!-- <h3>Recycling in neighborhood:
  <input list="communityDistrict" id="distSelector" name="distSelector" class="dropdown" placeholder="Tribeca"/>
		<datalist id="communityDistrict" class="dropdown">
		</datalist>
</h3> --}}
</div>

{{!-- <div id='dropdown-chart'></div> --}}

{{!-- <script src='scripts/dropdown.js'></script> --}}
