<div class='story-body' id='story'>
  <p>Deep in downtown Manhattan, where skyscrapers touch the heavens and crisp suits swagger around Wall Street, the city’s wealthiest have curbed their recycling habits.</p>

  <p>Five community districts across the city are recycling a lower percentage of their waste than a decade ago, according to an analysis of the Department of Sanitation monthly collection <a href='https://data.cityofnewyork.us/City-Government/DSNY-Monthly-Tonnage-Data/ebb7-mvp5' target=_blank>reports</a>. Among these are the wealthiest districts in the city - Wall Street, Chelsea, Canarsie - where the recycling of institutions and residents hasn’t kept up with bubbling waste emissions. </p>

  <p>These neighborhoods - which make up about a twelfth of New York City - contradict the city’s plan to reduce its ginormous carbon footprint to nil by 2030. Annually, New Yorkers produce more than 3.5 million tons of waste and recycling, according to a 2015 study of waste flow in the world’s largest cities.</p>

  <p>More than 75% of that goes to landfills, incinerators or the ocean, making New York the greatest producer of trash in the world. But New York doesn’t have a landfill or incinerator on-hand to even handle the waste itself. Rather, the city sends it away to landfills in other states, mostly New Jersey, Kentucky and Connecticut.</p>

  <p>Over the past few years, the city has attempted to kick the title through the implementation of waste management initiatives for residents and businesses. The most ambitious was Mayor Bill de Blasio’s multi-faceted 2015 OneNYC <a href='https://www1.nyc.gov/office-of-the-mayor/news/257-15/mayor-de-blasio-releases-one-new-york-plan-strong-just-city#/0' target=_blank>plan</a>, which aims to tackle a variety of issues: poverty, traffic casualties, and landfill contribution. In terms of waste, the city’s plans could make a difference that no other place in the world has been able to: becoming zero waste, meaning no waste is contributed to landfills.</p>

  <p>But data from the Department of Sanitation shows not much progress has been made. The city’s waste contribution hasn’t changed a significant amount, lingering still at more than 2.5 million tons from residents and businesses. And despite the city’s efforts, it’s diversion rate - or the rate at which waste is diverted from a landfill through programs such as recycling - has only grown minimally from 20% in 2009 to 25% in 2019, according to estimates calculated from the monthly tonnage reports.</p>

  <p>At this rate, the city won’t hit its goal until the year 2169.</p>

  <i style='color:gray;'>The Department of Sanitation did not respond to requests for comment regarding recycling trends and education campaigns.</i>

{{!-- <h3>Recycling in neighborhood:
  <input list="communityDistrict" id="distSelector" name="distSelector" class="dropdown" placeholder="Tribeca"/>
		<datalist id="communityDistrict" class="dropdown">
		</datalist>
</h3> --}}

</div>

{{!-- <div id='dropdown-chart'></div> --}}

{{!-- <script src='scripts/dropdown.js'></script> --}}
