<div class='ticker-holder'>
  <div class='ticker-note'>Since you opened this</div>
  <div class='ticker odometer' id='ticker'></div>
  <div class='ticker-note'>pounds of trash has been discarded</div>
</div>
<script src='scripts/tick.js'></script>
<script src='scripts/odometer.js'></script>
