---
headline: "Zero Waste, Zero Chance"
subhead: "New York wants to cut its landfill contribution to near nil by 2030. Data shows that's not likely not to happen."
published_date: "March 2020"
site: "http://www.littlecolumns.com"
siteName: "Zero Waste, Zero Chance"
url: "https://nyc-recycling.netlify.com"
kicker: ""
author:
    name: "By Sawyer Click"
    url: "https://github.com/SawyerClick/NYC-Recycling"
analytics": ""
---

{{!< default}}

<div class='story-body' id='story'>
  <p>New York is trying to kick its title as the trash capital of the world by going zero waste. Some parts of the city aren’t playing along. </p>

  <p>Over the past few years and mayors, the city has attempted to kick the title through the implementation of waste management initiatives for residents and businesses, with <a href='https://www1.nyc.gov/office-of-the-mayor/news/257-15/mayor-de-blasio-releases-one-new-york-plan-strong-just-city#/0' target='_blank'>Mayor Bill de Blasio’s 2015 OneNYC plan</a> as the most ambitious. In terms of waste, the city’s plans could make a difference that no other place in the world has succeeded at - going zero waste, meaning next to no waste is contributed to landfills. </p>

  <p>But since that ambition was enacted as policy, not much progress has been made, according to an analysis of the <a href='https://data.cityofnewyork.us/City-Government/DSNY-Monthly-Tonnage-Data/ebb7-mvp5' target='_blank'>Department of Sanitation’s monthly tonnage reports</a> that detail waste flow in New York’s 59 community districts. Landfill contribution has lingered at more than 2.5 million tons, the weight of more than 11,000 State of Liberty monuments.</p>
</div>

{{> story/graphic-01-barchart }}

<div class='story-body'>
  <p>The stagnation is reminiscent of Canberra, Australia’s <a href='https://www.abc.net.au/news/2010-02-26/no-waste/345222?con&dom=newscred&src=syndication' target='_blank'>failed zero waste attempt</a> in 1996. The local government had given itself a 15-year deadline, the same period as New York’s, to reach zero waste. Before the deadline even hit, it was obvious the initiative was a bust. The city couldn’t control its consumption and found itself trapped by consumerism. </p>

  <p>A similar fate may befall the Big Apple, where the landfill contribution has only inched down 3% since 2009. The thorn in the side of New York’s zero waste dreams is that even though residents are recycling more, they aren’t throwing away less.</p>

  <p>New York, though the <a href='https://www.pnas.org/content/pnas/112/19/5985.full.pdf' target='_blank'>greatest trash producer in the world</a>, doesn’t have its own landfill or incinerator to handle the waste. Each year the city ships off its garbage across the country, mostly to landfills in New Jersey, Kentucky and Connecticut. In the fiscal year 2019, the practice <a href='https://comptroller.nyc.gov/wp-content/uploads/documents/CAFR2019.pdf' target='-blank'>cost the city more than $407 million</a>, an increase of $37 million from the year prior.</p>

  <p>The tenacious waste issue has hindered the diversion rate, the rate at which waste is diverted from a landfill through programs such as recycling. The city-wide recycling rate grew from 20% in 2009 to 25% in 2019, according to estimates calculated from the monthly tonnage reports. The city estimates for the fiscal year 2019 - a different time period of calculations - <a href='https://www1.nyc.gov/assets/operations/downloads/pdf/mmr2019/dsny.pdf' target='_blank'>residents alone only recycled 18.1% of their waste</a>, a gain of only .1% from the fiscal year 2018.</p>

  <p>At this rate, the city won’t hit its zero waste goal until the year 2169.</p>

  {{> story/tick }}
</div>

<div class='story-body'>
  <p>These neighborhoods - which make up about a twelfth of New York City - contradict the city’s plan to reduce its ginormous carbon footprint to nil by 2030. Annually, New Yorkers produce more than 3.5 million tons of waste and recycling, according to a 2015 study of waste flow in the world’s largest cities.</p>

  <p>More than 75% of that goes to landfills, incinerators or the ocean, making New York the greatest producer of trash in the world. But New York doesn’t have a landfill or incinerator on-hand to even handle the waste itself. Rather, the city sends it away to landfills in other states, mostly New Jersey, Kentucky and Connecticut.</p>

  <i style='color:gray;'>The Department of Sanitation did not respond to requests for comment over a period of four months regarding recycling trends and education campaigns.</i>

{{!-- <h3>Recycling in neighborhood:
  <input list="communityDistrict" id="distSelector" name="distSelector" class="dropdown" placeholder="Tribeca"/>
		<datalist id="communityDistrict" class="dropdown">
		</datalist>
</h3> --}}
</div>
<!-- this is a dropdown i made once to compare places -->
{{!-- <div id='dropdown-chart'></div> --}}
{{!-- <script src='scripts/dropdown.js'></script> --}}
<!-- {{> story/graphic-lines }} -->




{{!-- {{> story/01-pct_change }} --}}

<div class="story-body">
  <h2 class='chart-headline'>For High Society, Less Recycling</h2>
  <p>Five community districts across the city are recycling a lower percentage of their waste than a decade ago. Among these are the wealthiest districts in the city - Wall Street, Chelsea, Canarsie - where the recycling of institutions and residents hasn’t kept up with bubbling waste emissions.</p>
  <p>"Today, we are collecting more recyclable metal, glass, plastic and paper then [sic] at any point in the last decade, and yet we know that in order to hit our ambitious goal, we need to do more," the status report states.</p>
  <p>The “more” boils down to the city putting more promotional resources behind the initiative, according to Adriana Espinoza, a program director for the environmental advocacy group New York League of Conservation Voters. Other parts of the 2015 OneNYC plan have been given more spotlight - like the heavily marketed Vision Zero program to end traffic accidents and fatalities.</p>
  <p>“Targeted community outreach and engagement is important, but we think there should be a city-wide public service initiative,” Espinoza said. “Basically the same as the way you see Vision Zero signs in the subways and at bus stops and on radio commercials.”</p>
</div>

{{> story/graphic-01-map }}

<div class='story-body'>
  <h2 class='chart-headline'>In the dark</h2>
  <p>The Department of Sanitation has focused most of its marketing resources on community outreach and a <a href='https://www.nycrecycles.org/' target='_blank'>limited subway ad campaign</a> complete with puns and innocuous graphics, according to the <a href='https://council.nyc.gov/budget/wp-content/uploads/sites/54/2019/05/DSNY.pdf' target='_blank'>department’s fiscal year 2020 budget</a>.</p>
  <p>Moving forward, the budget calls for an increase in funds allocated for outreach and enforcement specifically to tackle the zero-waste initiative in unreached areas, such as the five districts with diversion rates. Now, these events are <a href='https://www1.nyc.gov/assets/dsny/site/dsnyevents' target='_blank'>sparse</a> in affluent neighborhoods as a result of DSNY’s hyper-targeted campaigns, leaving these residents without a solid foundation for building recycling and zero waste habits.</p>
  <p>Occasionally, DSNY will host an event that’s more in the spotlight, often held in Union Square. Last November, DSNY <a href='https://www.unionsquarenyc.org/events/2019/10/29/dsny-recycling-30th-anniversary' target='_blank'>celebrated the 30th anniversary of its recycling program</a> with a massive event in Union Square. The event was far from typical: a clothes swap, recycling-themed games, bicycle repair, garbage trucks on-site for attendees to peruse.</p>
  <p>In Union Square’s community district, Manhattan CD 5, there was only a slight uptick in diversion rate. It’s neighbors, districts 1 and 6, still fared worse.</p>
  <p>To clarify, these wealthy districts have among the highest diversion rates in the city. Generally, the wealthier a district is, the more that it recycles. But over the last decade, the Department of Sanitation’s lack of attention and education in these neighborhoods has caused their statuses to wilt, while diversion rates in less affluent districts have blossomed, up by several percentage points.</p>
</div>

{{> story/scatter-income }}
<!-- {{> story/dot-plot }} -->

<div class='story-body'>
  <p>The Department of Sanitation recognized in the 2018 status report that it would have to take drastic steps to hit its goal. It took its biggest step a year later.</p>
  <p>New York’s City Council declared in June 2019 that the city was in a <a href='https://legistar.council.nyc.gov/LegislationDetail.aspx?ID=3940953&GUID=506493D1-9DF1-4289-8893-4AF892557355&Options=ID%7cText%7c&Search=' target='_blank'>state of climate emergency</a>, joining the ranks of Los Angeles, Sydney, London and dozens of cities across the globe. It was backed by Mayor de Blasio, whose signature was not necessary for the legislation to pass, and received heavy press. Critics, including the <a href='https://www.nytimes.com/2019/07/05/nyregion/climate-emergency-nyc.html' target='_blank'>New York Times</a> and <a href='https://www.huffpost.com/entry/nyc-climate-emergency_n_5d13cbcde4b0d0a2c0ab1eb2?odm' target='_blank'>Huffington Post</a>, were worried though that the declaration was a mere political move with no real weight behind it.</p>
  <p>In the more than a thousand-words-long declaration, recycling and waste contribution is only mentioned in passing:</p>
  <p><i>“The economy must shift from dirty energy that benefits fossil fuel companies to energy democracy that benefits our people, environment and a clean, renewable energy economy, from funding new highways to expanding public transit, from incinerators and landfills to zero waste products, from industrial food systems to food sovereignty, from car-dependent sprawl and destructive unbridled growth to smart urban development without displacement, and from destructive over-development to habitat and ecosystem restoration.”</i></p>
  <p>But it caught the attention of some New Yorkers, including Nicole Grossberg.</p>
</div>

<div class='story-body'>
  <h2 class='chart-headline'>Environmental Influencers</h2>
  <p>Nicole Grossberg is like the King Midas of zero waste: everyone she talks to turns to a green… lifestyle. And she’s intent on talking to the city’s 8.6 million residents.</p>
  <p>Grossberg decided to join the zero-waste effort as an educator after the city’s declaration. At first, it was about showing her neighbors how to reduce, reuse, recycle - and if all else fails - refuse. Grossberg, a lifelong New Yorker and a <a href='https://www.nicolegrossbergcreative.com/' target='_blank'>content strategist</a> by trade, had been living a zero-waste lifestyle for years, and she found a knack in educating others about sustainable living.</p>
  <p>After a layoff in summer 2018, Grossberg, an Astoria resident, shifted to freelance work. She let her subject focus drift to where she worked solely with clients in the atmosphere of environmental sustainability.</p>
  <p>“I always kept putting it off and I feel like the universe was giving me all these signs along the way,'' Grossberg said. “I kinda just took it [the layoff] as a sign from the universe that at that point was just screaming at me to follow my passion and do what I really wanted to do. So I decided to go off on my own.“</p>
  <p>It was fulfilling, and she enjoyed her day-to-day, which comprised social media management and copywriting, but she wanted to do more. She knew if the city was going to make any real change, it would have to start at the grassroots level. In her spare time, she dreamed of hosting her own workshops to help others go green.</p>
  <p>She had talked her family into becoming zero waste: reusing water bottles, taking tote bags to grocery stores, donating clothes. Then she convinced her friends. Now she wanted to make a living while doing the same with strangers.</p>
  <p>In August 2019 Grossberg teamed up with Sandra Noonan, another zero-waste New Yorker seeking to be the change she wanted to see. The duo founded <a href='https://www.zerowastenyc.info/' target='_blank'>the Zero Waste NYC Workshop Series</a>, a monthly lecture series aimed at educating audience members on the basics.</p>
  <p>Right off the bat, they paired with the Department of Sanitation’s nonprofit, The <a href='https://www.nycstrongest.org/' target='_blank'>Foundation for New York’s Strongest</a>, which involves occasionally teaming up for certain events. The foundation sponsors myriad organizations and events geared toward promoting environmental sustainability, including fashion swaps, beach clean-ups and education workshops like Grossberg’s.</p>
  <p>The overarching theme of the Series’s lectures, Grossberg said, is reducing and reusing, with recycling and discarding as a last-resort option. If residents want to make a substantive difference, it starts with cutting back, Grossberg said.</p>
  <p>In February, the Workshop Series teamed with the Foundation as a part of the city’s <a href='https://www.eventbrite.com/e/zero-waste-nyc-workshop-series-fashion-beauty-tickets-86258857565' target='_blank'>ReFashion Week program</a> for a panel discussion on textile waste in the fashion industry. Future topics will tackle traveling, parenting and handling food.</p>
  <p>Admittedly, Grossberg said her audience is primarily made up of those who have an interest in living a zero-waste lifestyle, which could only make a small dent in the city’s diversion numbers. Grossberg estimates there are typically about 45 attendees at each event, which was strong enough for DSNY to invite the Series into a formal partnership.</p>
  <p>“One of the tricks is to get the people who could really make a big difference,” Grossberg said. “I would love to have more of an audience that doesn’t know anything about zero waste. I just haven’t found the right way to reach everyone yet. It would be the people who don’t know much about it.”</p>
  <p>But to really tackle the bottom line, efforts need to reach the other 8.6 million New Yorkers who don’t have an inclination toward a more sustainable lifestyle. To inch toward all of them, Grossberg set up the workshops so all of the attendees leave as environmental sustainability ambassadors - or influencers, as she calls them - to educate neighbors, friends and followers.</p>
  <p>“If we can't reach those people, then we want the people that come to our workshops to be influencers,” Grossberg said. “We want to encourage people to go out there and spread the message. We give them tools on how they can talk to other people without seeming like they're being preachy and aggressive about their beliefs.”</p>
</div>

<div class='story-body'>
  <h2 class='chart-headline'>Five down, ten to go</h2>
  <p>Looking to the next decade, the city has a plan to get where it needs to be. An aggressive one.</p>
  <p>The most visible of which is a plastic bag ban starting March 1, forged as a part of the OneNYC and zero waste plan, aims to kick a large portion of plastic waste. The city has spent a lot of time and effort marketing the switch, with <a href='https://twitter.com/NYCMayorsOffice/status/1233469712937385986?s=20' target='_blank'>Mayor de Blasio himself even passing out reusable tote bags</a> in Union Square.</p>
  <p>Under single-stream recycling, residents only need to sort recyclables from refuse, making the process less of a burden for residents. Or at least that’s what the city is banking on.</p>
  <p>“Many people are under the impression that recycling is ineffective because most of it ends up in landfills anyway, or because they believe that so much is not recycle that it doesn't make a difference,” Grossberg said. "People need to believe that behavior makes a difference, especially if it involves some inconvenience."</p>
</div>

<div class='story-body'>
  <h2 class='chart-headline'>Methodology</h2>
  <p>With waste collection data from New York’s Department of Sanitation, I calculated the total amount of waste that was recycled and refused from each of New York’s 59 community districts. With this, I gathered demographic data from the census and from New York’s Department of Planning. Finally, I did a spatial join in QGIS of the tonnage reports and the demographic data. With this, I was able to perform geographical analysis, where I noted that the Bronx and Queens, the poorest boroughs in the city, had the greatest increase in diversion rates. Meanwhile, Manhattan, Staten Island and Brooklyn had districts that were recycling less of their waste. With this baseline, I dived in the data to pop out key points that were interesting, such as Manhattan’s community districts 1 and 6.</p>
</div>

{{!-- {{> story/02-public_bins }} --}}

{{!-- {{> story/04-most-trash }} --}}

{{!-- {{> story/diversion_rate}} --}}
